@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке запроса.</h2>

@if (Model?.RequestId != null)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключитесь на режим разработки для получения подробной информации об ошибке.
</p>
